*.iml
.gradle
/local.properties
.idea
.DS_Store
**/build
visualizer-helper/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin
**/build/
xcuserdata
!src/**/build/
captures
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings